.container {
    width: 96vw;
    flex-direction: column;
}

#panel {
    width: 100%;
    padding: 16px;
    flex-direction: row-reverse;
    gap: 24px;
}

#panel > * {
    display: flex;
}

#result-area {
    gap: 8px;
}

.side {
    width: 100%;
}
